/* Importing fonts and setting colors for all components */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --bg-color: #9DD9D2;
    --nav-color: #79BCB8;
    --btn-h-color: #2CA6A4;
    --text-color: black;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

/* Adding a container to create space between the content on the page and the sides of the screen  */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Useful class for every centered flexbox element */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--nav-color);
    text-decoration: none;
    margin: 0 30px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-h-color);
}

.btn-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
}