<div class="flex-center container" style="flex-direction: column;">
    <h1>The Water Jug Riddle:</h1>
    <p style="font-size: x-large; text-align: center;">
        You have an X-gallon and a Y-gallon jug that you can fill from a lake. (Assume lake has unlimited amount
        of water.) By using only an X-gallon and Y-gallon jug (no third jug), measure Z gallons of water.
    </p>    
    <p style="font-size: x-large; text-align: center;">
        Enter the amount of water (in gallons) that each bucket can hold, and I'll tell you the most
        efficient way to solve the riddle using your buckets.
    </p>    
    <p style="font-size: x-large; text-align: center;">
        In case there's no solution, I will let you know.
    </p>    
</div>
<div class="flex-center btn-container">
    <a routerLink="/userInput" class="btn">Start</a>
</div>